In [4]:
import pandas as pd
titanic_data = pd.read_csv('w01-titanic.csv')
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [14]:
data = titanic_data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]

In [20]:
data.Sex_bin = data.Sex.apply(lambda x: x == 'male')

In [21]:
data.Sex = data.Sex_bin

In [22]:
data.head()

   Pclass     Fare  Age    Sex  Survived
0       3   7.2500   22   True         0
1       1  71.2833   38  False         1
2       3   7.9250   26  False         1
3       1  53.1000   35  False         1
4       3   8.0500   35   True         0

In [23]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [24]:
data = data.dropna()

In [25]:
data.head()

   Pclass     Fare  Age    Sex  Survived
0       3   7.2500   22   True         0
1       1  71.2833   38  False         1
2       3   7.9250   26  False         1
3       1  53.1000   35  False         1
4       3   8.0500   35   True         0

In [37]:
tree = DecisionTreeClassifier(random_state=245)

In [38]:
tree.fit(data[['Pclass', 'Fare', 'Age', 'Sex']], data[['Survived']])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=245, splitter='best')

In [39]:
importances = tree.feature_importances_

In [40]:
importances

array([ 0.14751816,  0.29756935,  0.25440027,  0.30051221])

In [36]:
with open('w01-ans/q-trees-1.txt', 'w') as fd:
    fd.write('Fare Sex')